# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vim swap file
*.swp
# Cmake build folder
build/
# All the named executables:

#CPP00
megaphone
My_Awesome_PhoneBook
My_Awesome_Banking_System
#CPP01
Zombies
zombieHorde
BRAIN
BRUTALITY
mysed
Harl
harlFilter
#CPP02
Fixed_Point
Useful_Point
Overloading_Madeness
bps
#CPP03
ClapTrap
ScavTrap
FragTrap
DiamondTrap
#CPP04
Animals
Animals_with_Brains
Abstract_Animals
Interface
CPP/05/ex00/Bureacrat
CPP/05/ex01/I_love_Bureaucracy
CPP/05/ex02/this_is_starting_to_get_annoying
CPP/05/ex02/hello_tree_shrubbery
CPP/05/ex03/Interns
CPP/06/ex00/converter
CPP/06/ex01/Serializer
CPP/06/ex02/Base
CPP/07/ex00/Template
